@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* FONT */
    --font-instrument-sans: "Instrument Sans", serif;
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --bg-background-color: #F3F3F3;
    --bg-cor-id-1: #460E06;
    --bg-cor-id-2: #F39C13;
}
